.main {
  height: calc(100vh - 30px);
}

.vh-75 {
  height: 75vh;
}

.vh-50 {
  height: 50vh;
}

.w-72 {
  width: 72%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.msg {
  background-color: var(--bs-accordion-active-bg);
  text-align: left;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-container {
  width: 100%;
}

@keyframes toast {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.toast-animation {
  animation-duration: 0.5s;
  animation-name: toast;
}
