.main {
  height: calc(100vh - 30px);
}

.vh-75 {
  height: 75vh;
}

.vh-50 {
  height: 50vh;
}

.w-72 {
  width: 72%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-container {
  width: 100%;
}
